[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"

[packages]
python-multipart = "*"
scikit-learn = "0.22.2.post1"
joblib = "*"
jinja2 = "*"
pydantic = "*"
boto3 = "*"
aiofiles = "*"
python-dotenv = "*"
spotipy = "*"
fastapi = "*"
pandas = "*"
plotly = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3"
