<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Song Suggester</title>
    <link rel="icon" href="../static/Spotify-logo.png" type="'image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        if(sessionStorage.getItem('last_entry')){
            $("#song_name").val(sessionStorage.getItem('last_entry'));
        }

        $("#song_name").on("change",function(){
            sessionStorage.setItem('last_entry',$(this).val());
        });
        $("#artists_option").append(options.join("")).selectmenu();
    });
    </script>
</head>

<body>
<div class="container-fluid">
<form method='post' id="form">
    <label for="song_name">Name of song:</label>
    <input type="text" id="song_name" name="song_name"/>
    <br>
    <label for="artists_option" {{hidden}}>Select the Artist:</label>
    <select id="artists_option" name="artists_option" {{hidden}}>
        {% for i in artists %}
        <option name="{{i}}" selected>{{i}}</option>
        {% endfor %}
    </select>
    <br {{hidden}}>
    <input type="submit" value="{{submit_val}}">
</form>
<br>
<p>Inputs:</p>
<p>Song: {{song_name}}</p>
<p>Artists: {{artists}}</p>
<p>Selected Artist: {{selected_artist}}</p>
<p>Model Output: {{model_out}}</p>
</div>
</body>
</html>